/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
	width: 100%;
    padding: 0 50px;
}
#hinfo {

        margin-left: 50px;
}